.review-form {

  form {
    display: flex;
    flex-direction: column;
    .form-header {
      display: grid;
      grid-template-columns: 1fr 5fr;
      padding: 5px 0px;
      
    }

    label {
      font-weight: 300;
      font-size: 16px;
    }
    
    input{
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button { 
            -webkit-appearance: none;
            margin: 0; 
        }
 
    }

    input[type="number"] {
      -moz-appearance: textfield; /* Firefox */
    }

    textarea {
      margin: 5px 0px;
      resize: none;
    }

    .button-area {
      display: grid;
      grid-template-columns: 1fr 1fr;
      button {
        background-color: red;
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;

        &:hover{
          background-color: rgb(117, 7, 7);
        }
      }

      .submit {
        background-color: rgb(19, 143, 19);
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-family: 'Roboto Mono', monospace;

        &:hover{
          background-color: rgb(13, 103, 13);;
        }
      }
    }
  }
}
