.stars {
  input[type="radio"] {
    display: none;
  }
  label{
      svg {
        cursor: pointer;
        width: 25px;
        height: 25px;
      }
  }

  
}
.stars[disabled]{

  label{
    svg {
      cursor: default;
      pointer-events: none;
      
    }
}

 
}


